/*Permet de créer un fichier ou toutes les pages du site auront une charte graphique identique */

/*h1 {
    color:red;
}*/

/*.title-big {
    color: purple;
}*/

#title-big {
    color: chartreuse;
}

/* L'attribue * spécifie tous les éléments des pages web  qui non pas de charte graphique différentes sens distinctions. Cela est tèrs peu utiliser de nos jours. */
/* {
    /*color: goldenrod;
}*/

*:hover {
   color: black;
}

/*body {
    color:crimson;
}*/


/* ***************************************************** Attention les valeurs des différentes propriétés sont hériter des parents.   Pour connaitre le cheminement regarder l'inspecteur d'éléments sur la page web du site .En fessent un clique droit ou avec la touche : F11. *********************************** */



/* ************************************** En Css c'est la règle la plus spécifique qui l'emporte et non la dernière règle coder ****************************** */


/* *********************************** 2 selecteurs séparer par un espace est une combinaison décendante ************************************************* */
/* Donc pour ce cas, je cible tous les th qui on comme parent table */

table th {
 color: blueviolet;
}

table th em {
    color:azure;
}


/* ******************************* Cible les enfants direct de td . Très peu utiliser comme syntaxe ************************************* */

td > h2 {
    color: green ;
}

/* ******************************* Cible le voisin directe de h2 **************************************** */

h2 +p {
    color:darkblue;
}

/* ****************************** cible tous les voisins après un h2 (en fessent alt plus la touche 2), si un ce situe avant il n'est pas conserner. ************************************************** */

h2~p { 
    color:purple;
}

/* ******************************* differencier les liens externes des liens internes ********************************************* */

/* ************************* option 1 ************************** */
/*a[href^= "http"]{ /* attention ne pas oublier le ^ 
    color: green;
}*/

/* ****************************** option 2 *************************** */
.link-external {
    color: royalblue;
}



/* ****************************************************** Les selecteurs d'attribuent **************************************************** */

    /* ********************************** pour le cas d'un formulaire ************************************ */

    input[type="submit"] {
        width: 200px;
        color: rgb(21, 37, 211);
    }

    input[type="email"] {
        width: 200px;
        color: rgb(93, 10, 99);
    }

    /* ************************************* combiner plusieurs règles ************************************** */

    input[type="submit"],input[type="email"] {
        width: 200px;
        color: rgb(21, 183, 37);
    }

    /* ************************************** ou pour une meilleur visibilitée ******************************************** */

    input[type="submit"],
    input[type="email"] {
        width: 200px;
        color: rgb(15, 180, 31);
    }

/* ************************************************************ pseudo-classes *************************************************************** */
    
    a {
        color: blue;
    }
    
    /* ******************************* lors du survol de la souris changement de couleur ********************************************** */

    a:hover {
        color:chartreuse;
    }

    /* ********************************** idem pour les titres ou autre élément ************************************************** */
    /*  très peu utiliser  sur les éléments statique car cela fait croire à l'utilisateur que qu'il peu cliquer dessus  */

    h2 {
        color: rgb(34, 34, 196);
    }

    h2:hover {
        color:greenyellow;
    }

    /* *****************************   :visited   **************************************** */
    /* Met les liens deja visiter en violet par default pour indiquer à l'utilisateur qu'il à deja vue ceux lien */

    a:visited {
        color: blueviolet;
    }

    /* ********************************   :focus   ************************************ */
    /* Pour ceux utilisent le clavier comme moyen de navigation */

    a:focus {
        color: coral;
    }

    /* *******************************   :disabled   ********************************** */
    /* rend un champ inutilisable pour l'utilisateur  voir dans contact le mail*/

    /* *************************************   :first-child   *********************************** */
    /* Cela concerne que le premier enfant d'un parent */

    /*p:first-child {
        font-size: 20px;
    }*/

    /* ************************************   :first-of-type   ********************************** */
    /* le premier élément de ce type là */

   /* p:first-of-type {
        font-size: 30px;
        color:darkcyan;
    }*/

    /* **********************************   :nth-of-type   ******************************************** */
    /* Permet de cibler un élément pour le modifier */

    /*p:nth-of-type(2) {
        font-size: 50px;
        color: red;
    }*/

    /* les multiples de deux, cela permet ainsi de faire une différence dans un taleau pour bien voire les lignes */
    
    tr:nth-of-type(2n) {
        background: grey;
    }

/* ******************************************************* Le modèle de boite **************************************************************** */

    /* ****************************************** Display block ************************************** */
    /* Comme toujours le css mais des valeurs par defaut pour la taille des éléments boites, le pagging, le border et le margin de la boite. On les retrouve dans l'inspecteur d'élément.*/

    header {
        width: 100%;
        height: 200px;
        border: solid 2px red; /* Permet de mieux le situer à enlever à la fin du projet */
    }

    /* ******************************************* Display inline *************************************** */
    /* Display block: prend par défault la totalité de la largeur.  display block ne peuvent pas être l'un à coter de l'autre ils serront l'un en dessous de l'autre.On peut aussi leurs indiquer manuellement un largeur et une hauteurs voulluent.

    Display inline: C'est un peu particulier car le cadre prend automatiquement les dimentions de son contenant, c'est le cas principalement des onglet de la barre menu dans ce cas!*/

    span {
        width: 500px;
        height: 500px;
    }

    /*idth: 500px;
        height: 500px;
    Je lui indique ainsi la taille de la boite voulu, mais cela ne sera pas pris en compte. Car il est considerer en prioriter comme on display inline et aurra ainsi des valeurs par défault.
    
    Les balises utilisent display inline par défault sont: strong, enface, span et lien toutes les balise qui entour du texte.
    */

    /* ******************************************* Display inline block *************************************** */

    /* C'est un élément entre le display inline et le display block. Utiliser par le navigateur par défault pour tous les champs multi-texte.

    Se sont des display block qui se comporte comme des display inline car il sont l'un à coter de l'autre et non l'un en-dessous de l'autre.
    
    On peut à la différence des span changer leurs hauteur et largueur.*/

    input {
        width:200px;
        height:200px;
    }



/* ********************************************* Mise en forme du site ********************************************* */

.header {
    background: grey;

    /* *padding option 1 */
    padding: 20px;

    /* * padding option 2 */
    /*padding: 20px 10px 5px 0;*/

    /* * padding option 3*/
    /* padding: 20px 10px 5px */
    /* 1° chiffre le haut, 2° chiffre gauche et droite, 3° chiffre le bas */

    /* * padding option 4*/
    /* padding: 20px 10px  */
    /* 1° chiffre le haut et bas et  2° chiffre gauche et droite */

    /* ************************** Faire les marges différaments en plus de ligne mais en étant plus précis sur qui à koi comme marge ************************** */
    /*  Utile si on veut juste modifier une valeur par rapport au paramètre par défaut du padding */

    padding-left: 0px; /* marge à gauche */

    padding-right: 0px; /* marge à droite */

    padding-top: 0px; /*  marge en haut. Les padding servent à espacer le contene par rapport aux autres dans la boite.*/

    padding-bottom: 20px; /* marge en bas */

    height: auto;/*  La hauteur prendra en compte que la hauteur des différents éléments pour s'adapter. */
    margin-top:50px; /* L'espace est créer en dehors de la boite.  Les margins servent à espacer les boites entre elles. */
    color: #FFFFFF;
    font-size: 15px; /* Taille de la police, le navigateur met une taille de police par default sur le body qui n'est pas forcément coller.*/
    text-align: center;

}

/* ****************** Modifier la taille de l'image pour quel soit mieux proporsionner ************************* */

.header img {
    width: 100%; /*  L'uniter de mesure % permet ainsi à l'image de prendre toutes la largueur de l'élément disponible, même si on change la taille de l'écran. */
    height: auto; /* Il s'adapte pour garder le racio de l'image */
}

.main {
    background: lightgrey;
    padding: 20px;
    line-height: 20px;/* Auteur de lignes */
    /*line-height: 1.4; /* Cela équivau à 140% de la taille de la police. La règle en thypographie est comprise entre 1.4 et 1.6. */
    font-size: 16px;
}


.main p {

    /* * il permet de définir la forma de la ligne (solid, double ,dotted (pointillé), dashed ( petit trait) ou wavy (vague)) */
    text-decoration-style: wavy;

    /** Permet de décider ou mettre la ligne (none (aucune), underline (en bas), overline (en haut),line-throungh (texte barrer), underline overline, underline line-through  */
    text-decoration-line:none ;

    text-align: justify; /* Alignement du texte */
    text-align-last: right; /* Permet de décrire comment la dernière ligen doit se comporter */
    text-justify: auto; /*  Change le fonctionnement surtous celle de la dernière ligne */
}

/* ****************************** Une bizarrerie dans mon paragraphe; quel solution ! */
p{
    text-indent: 100px; /*  Permet d'indenter la première ligne du paragraphe */
    /*width: 200px; /* En donnent une largueur à mon élément une bizarrerie apparaît car les navigateurs ne casse pas les mots si ils sont plus grand! */
    overflow-wrap:break-word ; /* Anciennement word-wrap, em méttent comme cela le mot va être couper et placer sur plusieurs ligne pour respecter la largueur voulu!*/
}

/* **************************** Mettre un peux de style sur la première lettre de chaque paragraphe ***************************************** */
p:first-of-type::first-letter{
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

/* ************************* explication du rem et em ****************************************** */
html, body{
    font-size: 16px;
}

/*  Cela permet d'écraser la valeur par défault mis en place par le navigateur. Qui est toujours supérieur à 0. Pas besoin de préciser une uniter de mesure tant que c'est 0 car cela sera toujours identique quelque soit la mesure (px, %, em ...) */

body {
   margin: 0;
   line-height: 1.4;
   letter-spacing: 0.8px; /* Espace entre les lettres. */
   font-family: "Comic Sans MS","Helvetica", sans-serif; /* Forme de la police. mettre à la fin sans-serif (sens pattes aux niveaux des lettres)ou serif (avec pattes aux niveaux des lettres), pour que le navigateur sache lequel chercher.*/
}


.texteLatin{
    font-size: 15px;
}

/* Pour un meilleur effet visuel du site, retirer le paramètre par défault margin. Cela évite quelle se rajout à celle de la boite. C'est spécifique aux h1, h2, ... */

.title-big {
    margin-top: 0;
    font-family: serif;/* Juste présicer aux niveaux des empattements que l'on souhaite et le navigateur ferra le reste. */
    font-weight: lighter; /* gras des caractères et/ou texte */
    font-style:italic; /* Permet de définir le style de la police */
    /*text-transform:uppercase;/* Permet de tous mettre toutes les lettres en majuscule */
    text-transform: capitalize;/* Première lettre de chaque mot en majuscule */

}

.header_nav {
    display: inline; /*  Permet ainsi qu'il soit influencer par son parent, car il n'est pas de type inline ou inline-block. Mettre display: inline-block ==> ainsi le block entier sera centrer avec son width. */
    position: absolute;
    top:10px;
    left:10px;
    right: 0; /* ainsi avec un left et un right l'élément prendra une largeur de 100% */
    bottom: 0;
    /*width: 100%;
    height: 100%;*/
    margin: 20px 0; /* Les marges de deux éléments ne s'additionne pas. Elles fusionnent cela s'appel( la fusion de marge), là plus grande valeur reste. */
    text-align: center;
    background: lightcoral;
}

.header_nav a {
    width: 50%;
    padding: 0 10px;
    background: lightgreen;
    color:inherit; /* Ainsi la couleur sera hériter du parent. */
    text-decoration: none;
    font-weight: 500; /* gras du texte */
    border:red solid 2px;
}

.header_nav a:hover{
    text-decoration: underline;
}

/* Le BG aurra un effet différent si l'élément est un display inline ou un display inline-block */
span {
    background: lightgreen;
}

main{
    background: lightgreen;
    padding:20px;
    font-size: 20px;
}

main p{
    margin-bottom: 1.5rem;
}


 /*  ************************************* bouton pour l'exemple ************************************** */
.button {
    color:#fff;
    background:#4529c3;
    text-decoration: none; /* retire la barre de surlignage */
    font-size: 1rem;
    padding: 0.4em 0.5em; /* soit la motier de la taille de la police */
}

/*  *********************************************** pied de page ********************************************* */
.footer {
    background: gray;
    padding: 10px 20px;
}