/*Permet de créer un fichier ou toutes les pages du site auront une charte graphique identique */

h1{
    color:red;
}

.title-big{
    color: purple;
}

#title-big{
    color: chartreuse;
}

/* L'attribue * spécifie tous les éléments des pages web  qui non pas de charte graphique différentes sens distinctions. Cela est tèrs peu utiliser de nos jours. */
*{
    color: goldenrod;
}

body{
    color:crimson;
}


/* ***************************************************** Attention les valeurs des différentes propriétés sont hériter des parents.   Pour connaitre le cheminement regarder l'inspecteur d'éléments sur la page web du site .En fessent un clique droit ou avec la touche : F11. *********************************** */



/* ************************************** En Css c'est la règle la plus spécifique qui l'emporte et non la dernière règle coder ****************************** */


/* *********************************** 2 selecteurs séparer par un espace est une combinaison décendante ************************************************* */
/* Donc pour ce cas, je cible tous les th qui on comme parent table */

table th{
 color: blueviolet;
}

table th em {
    color:azure;
}


/* ******************************* Cible les enfants direct de td . Très peu utiliser comme syntaxe ************************************* */

td > h2 {
    color: green ;
}

/* ******************************* Cible le voisin directe de h2 **************************************** */

h2 +p{
    color:darkblue;
}

/* ****************************** cible tous les voisins après un h2 (en fessent alt plus la touche 2), si un ce situe avant il n'est pas conserner. ************************************************** */

h2~p{ 
    color:purple;
}

/* ******************************* differencier les liens externes des liens internes ********************************************* */

/* ************************* option 1 ************************** */
/*a[href^= "http"]{ /* attention ne pas oublier le ^ 
    color: green;
}*/

/* ****************************** option 2 *************************** */
.link-external{
    color: royalblue;
}



/* ****************************************************** Les selecteurs d'attribuent **************************************************** */

    /* ********************************** pour le cas d'un formulaire ************************************ */

    input[type="submit"]{
        width: 200px;
        color: darkcyan;
    }

    input[type="email"]{
        width: 200px;
        color: rgb(150, 25, 159);
    }

    /* ************************************* combiner plusieurs règles ************************************** */

    input[type="submit"],input[type="email"]{
        width: 200px;
        color: darkcyan;
    }

    /* ************************************** ou pour une meilleur visibilitée ******************************************** */

    input[type="submit"],
    input[type="email"]{
        width: 200px;
        color: darkcyan;
    }
